/*	VARIABLES
----------------------------------------------------- */
/* TYPEFACE
================================================== */
/* COLOR SCHEME
================================================== */
/* UI COLOR
================================================== */
/* UI
================================================== */
/* Animation
================================================== */
/*	Font Base
----------------------------------------------------- */
/* bitter-latin-wght-italic */
@font-face {
  font-family: "Bitter";
  font-style: italic;
  font-display: swap;
  font-weight: 100 900;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  src: url(files/bitter-latin-wght-italic.woff2) format("woff2-variations");
}
/* bitter-latin-wght-normal */
@font-face {
  font-family: "Bitter";
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  src: url(files/bitter-latin-wght-normal.woff2) format("woff2-variations");
}
/* bitter-latin-ext-wght-italic */
@font-face {
  font-family: "Bitter";
  font-style: italic;
  font-display: swap;
  font-weight: 100 900;
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  src: url(files/bitter-latin-ext-wght-italic.woff2) format("woff2-variations");
}
/* bitter-latin-ext-wght-normal */
@font-face {
  font-family: "Bitter";
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  src: url(files/bitter-latin-ext-wght-normal.woff2) format("woff2-variations");
}
/* raleway-latin-wght-italic */
@font-face {
  font-family: "Raleway";
  font-style: italic;
  font-display: swap;
  font-weight: 100 900;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  src: url(files/raleway-latin-wght-italic.woff2) format("woff2-variations");
}
/* raleway-latin-wght-normal */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  src: url(files/raleway-latin-wght-normal.woff2) format("woff2-variations");
}
/* raleway-latin-ext-wght-italic */
@font-face {
  font-family: "Raleway";
  font-style: italic;
  font-display: swap;
  font-weight: 100 900;
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  src: url(files/raleway-latin-ext-wght-italic.woff2) format("woff2-variations");
}
/* raleway-latin-ext-wght-normal */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  src: url(files/raleway-latin-ext-wght-normal.woff2) format("woff2-variations");
}
/*	Font Bitter & Raleway

https://fonts.google.com/specimen/Bitter
https://fonts.google.com/specimen/Raleway
----------------------------------------------------- */
.vco-storymap {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.3em;
}
.vco-storymap h1,
.vco-storymap h2,
.vco-storymap h3,
.vco-storymap h4,
.vco-storymap h5,
.vco-storymap h6 {
  font-family: "Bitter", serif;
  text-transform: none;
  font-weight: 700;
  font-size: 46px;
  line-height: 46px;
}
.vco-storymap h2.vco-headline-title {
  font-size: 58px;
  line-height: 58px;
}
.vco-storymap p {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 1.3em;
}
.vco-storymap .vco-media .vco-media-wikipedia h4 a {
  font-size: 24px;
  line-height: 24px;
}
.vco-storymap .vcard {
  font-family: "Helvetica Neue", helvetica, arial, "MS Trebuchet", sans-serif !important;
  font-weight: normal !important;
}
.vco-storymap .vco-slidenav-next,
.vco-storymap .vco-slidenav-previous,
.vco-storymap .vco-message,
.vco-storymap .vco-slide-calltoaction-button-text {
  font-family: "Helvetica Neue", helvetica, arial, "MS Trebuchet", sans-serif;
  text-transform: none;
}
.vco-storymap .vco-slidenav-next .vco-slidenav-title,
.vco-storymap .vco-slidenav-previous .vco-slidenav-title,
.vco-storymap .vco-message .vco-slidenav-title,
.vco-storymap .vco-slide-calltoaction-button-text .vco-slidenav-title {
  line-height: 1.3em !important;
}
.vco-storymap .vco-headline-date,
.vco-storymap h3.vco-headline-date {
  font-family: "Helvetica Neue", helvetica, arial, "MS Trebuchet", sans-serif !important;
  text-transform: none !important;
}
.vco-storymap .vco-headline-date small,
.vco-storymap h3.vco-headline-date small {
  font-weight: normal !important;
}
.vco-storymap blockquote,
.vco-storymap blockquote p {
  font-style: italic;
  font-weight: 200;
  line-height: 1.3;
}

input[type=text].editor-headline {
  font-family: "Bitter", serif;
  text-transform: none;
  font-weight: 700;
  font-size: 46px;
  line-height: 46px;
}