@use "sass:color";
@use "sass:math";

/*	Mixins.scss
	Snippets of reusable CSS to develop faster and keep code readable
 * ----------------------------------------------------------------- */

// Cubic Bezier
@mixin animation-timing-cubic-bezier {
    transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}

// Property Animation
@mixin property-animation($prop: height, $time: 1000ms, $ease: cubic-bezier(0.77, 0, 0.175, 1)) {
    transition: $prop $time $ease;
}

// Opacity
@mixin opacity($opacity: 100) {
    opacity: math.div($opacity, 100);
}

// Background Color Opacity
@mixin background-color-opacity($cr: 0, $cg: 0, $cb: 0, $opacity: 100) {
    background: rgba($cr, $cg, $cb, math.div($opacity, 100));
}

// Slide Text Shadow
@mixin slide-text-shadow($shadow: 1px 1px 1px #000) {
    color: #fff !important;
    text-shadow: $shadow !important;
}

// Border Radius
@mixin border-radius($radius: 5px) {
    border-radius: $radius;
}

// Single side border-radius
@mixin border-right-radius($radius) {
    border-bottom-right-radius: $radius;
    border-top-right-radius: $radius;
}

@mixin border-left-radius($radius) {
    border-bottom-left-radius: $radius;
    border-top-left-radius: $radius;
}

// Box Shadow
@mixin box-shadow($shadow: 1px 1px 7px rgba(0, 0, 0, 0.3)) {
    box-shadow: $shadow;
}

// Transform
@mixin transform($transform) {
    transform: $transform;
}

// User select
// For selecting text on the page
@mixin user-select($select) {
    user-select: $select;
}

// Clear Fix
@mixin clearfix {
    &::before,
    &::after {
        display: table;
        content: "";
    }

    &::after {
        clear: both;
    }
}

@mixin translucent-background($color: #fff, $alpha: 1) {
    background-color: rgba($color, $alpha);
}

// GRADIENTS
// --------------------------------------------------

// Horizontal gradient, from left to right
@mixin gradient-horizontal(
    $start-color: #555,
    $end-color: #333,
    $start-percent: 0%,
    $end-percent: 100%
) {
    background-image: linear-gradient(
        to right,
        $start-color $start-percent,
        $end-color $end-percent
    );
}

@mixin gradient-horizontal-three-colors(
    $start-color: #00b3ee,
    $mid-color: #7a43b6,
    $color-stop: 50%,
    $end-color: #c3325f
) {
    background-image: linear-gradient(to right, $start-color, $mid-color $color-stop, $end-color);
    background-repeat: no-repeat;
}

@mixin gradient-radial($inner-color: #555, $outer-color: #333) {
    background-image: radial-gradient(circle, $inner-color, $outer-color);
}
