@use "sass:color";
@use "../../Variables" as *;

/* Requires Variables.less
================================================== */

.vco-text {
    width: 50%;
    max-width: 50%;
    min-width: 120px;
    padding: 0 20px;
    display: table-cell;
    display: block;
    vertical-align: middle;
    text-align: left;

    // float:left;
    text-shadow: none;
    color: var(--vco-color-text, #{$color-text});

    p {
        color: var(--vco-color-text, #{$color-text});
    }

    h2.vco-headline-title,
    h2.vco-headline {
        margin-top: 0;
        color: var(--vco-color-text, #{$color-header-text});
    }

    .vco-headline-date,
    h3.vco-headline-date {
        font-family: $font-main;
        font-size: $base-font-size;
        line-height: $base-font-size;
        font-weight: normal;
        margin: 0 0 2px;
        color: color.adjust($color-text, $lightness: 25%);

        small {
            font-size: $base-font-size;
            line-height: $base-font-size;
            font-weight: normal;
            color: color.adjust($color-text, $lightness: 25%);
        }
    }

    .vco-text-date {
        display: inline-block;
        margin-top: 10px;
        font-size: 12px;

        &::after {
            // margin-left:3px;
            // color:#999;
            // font-weight:normal;
        }
    }
}

// When the background is an image
.vco-full-image-background,
.vco-full-color-background {
    .vco-text,
    .vco-text p {
        color: $color-text-inverted !important;
        text-shadow: 1px 1px 2px #000;

        .vco-headline-date,
        h3.vco-headline-date {
            color: $color-text-inverted !important;

            small {
                color: $color-text-inverted !important;
            }
        }
    }
}

/* Skinny
================================================== */
.vco-skinny {
    .vco-text {
        width: 100%;
        max-width: 100%;
        min-width: auto;
        float: none;
        margin-top: 20px;
    }
}
