@use "sass:color";
@use "../Variables" as *;

/* MenuBar 
================================================== */

.vco-menubar {
    position: absolute;
    z-index: 11;
    text-align: left;
    overflow: hidden;
    border-bottom: 1px solid color.adjust($color-background, $lightness: -10%);
    border-right: 1px solid color.adjust($color-background, $lightness: -10%);
    border-bottom-right-radius: 7px;
    left: 0;

    .vco-menubar-button:first-child {
        border-left: 0;
    }
}
