@use "pkg:@fontsource-utils/scss" as fontsource;
@use "pkg:@fontsource/old-standard-tt/scss" as old_standard_tt;
@use "../Variables" as *;
@use "font.base" as base;
@include fontsource.faces(
    $metadata: old_standard_tt.$metadata,
    $weights: all,
    $styles: all,
    $subsets: (
        latin,
        latin-ext,
    ),
    $formats: woff2
);

/*	Font Old Standard
https://fonts.google.com/specimen/Old+Standard+TT
---------------------------------------------------- */

// Font Import

// Font Variables
$font-main: "Old Standard TT", serif;
$font-secondary: $font-main;
$font-navigation: $font-main;
$font-marker: $font-main;
$font-headline-date: $font-navigation;
$base-font-size: 16px;
$base-font-weight: 400;

// Blockquote
$font-blockquote: $font-main;
$font-blockquote-weight: 400;
$font-blockquote-style: italic;

// Headings
$font-size-headings: 46px;
$font-headings-lineheight: $font-size-headings;
$font-headings-text-transform: uppercase;
$font-size-headings-small: 24px;
$font-headings-weight: 400;
$font-size-headline-title: 52px;

// Marker
$font-marker-text-transform: $font-headings-text-transform;

// Navigation
$font-navigation-text-transform: uppercase;

@include base.font-base(
    (
        font-main: $font-main,
        font-secondary: $font-secondary,
        font-navigation: $font-navigation,
        font-marker: $font-marker,
        font-headline-date: $font-headline-date,
        base-font-size: $base-font-size,
        base-font-weight: $base-font-weight,
        font-blockquote: $font-blockquote,
        font-blockquote-weight: $font-blockquote-weight,
        font-blockquote-style: $font-blockquote-style,
        font-size-headings: $font-size-headings,
        font-headings-lineheight: $font-headings-lineheight,
        font-headings-text-transform: $font-headings-text-transform,
        font-headings-weight: $font-headings-weight,
        font-size-headings-small: $font-size-headings-small,
        font-size-headline-title: $font-size-headline-title,
        font-navigation-text-transform: $font-navigation-text-transform,
        font-marker-text-transform: $font-marker-text-transform,
    )
);
