/*	Font Playfair & Playfair SC

https://fonts.google.com/specimen/Playfair+Display
https://fonts.google.com/specimen/Playfair+Display+SC
----------------------------------------------------- */

// Main Variables 
@import "../Variables"; 

// Font Import
@import "@fontsource/playfair-display-sc";
@import "@fontsource/playfair-display-sc/400-italic.css";
@import "@fontsource-variable/playfair-display";
@import "@fontsource-variable/playfair-display/wght-italic.css";

// Font Variables
$font-main:						'Playfair Display', serif;
$font-secondary:				'Playfair Display SC', serif;
$font-navigation:				'Helvetica Neue', Helvetica, Arial, "MS Trebuchet", sans-serif;
$font-marker: 					$font-secondary;
$font-headline-date: 			$font-navigation;

$base-font-size: 				17px;
$base-font-weight: 				400;

// Blockquote
$font-blockquote: 				$font-main;
$font-blockquote-weight: 		400;
$font-blockquote-style: 		italic;

// Headings
$font-size-headings: 			46px;
$font-headings-lineheight: 		$font-size-headings;
$font-headings-text-transform: 	none;
$font-size-headings-small: 		24px;
$font-headings-weight: 			400;
$font-size-headline-title: 		58px;

// Marker
$font-marker-text-transform: 	$font-headings-text-transform;

// Navigation
$font-navigation-text-transform: 	none;
 
@import "_font.base";
