@use "pkg:@fontsource-utils/scss" as fontsource;
@use "pkg:@fontsource/megrim/scss" as megrim;
@use "../Variables" as *;
@use "font.base" as base;
@include fontsource.faces(
    $metadata: megrim.$metadata,
    $weights: all,
    $styles: all,
    $subsets: (
        latin,
        latin-ext,
    ),
    $formats: woff2
);

/*	Font Roboto Slab & Megrim

https://fonts.google.com/specimen/Roboto+Slab
https://fonts.google.com/specimen/Megrim
----------------------------------------------------- */

// Font Import

// Font Variables
$font-main: "Roboto Slab", georgia, serif;
$font-secondary: "Megrim", "Helvetica Neue", helvetica, arial, "MS Trebuchet", sans-serif;
$font-navigation: $font-secondary;
$font-marker: $font-secondary;
$font-headline-date: $font-main;
$base-font-size: 17px;
$base-font-weight: 300;

// Blockquote
$font-blockquote: $font-main;
$font-blockquote-weight: 400;
$font-blockquote-style: normal;

// Headings
$font-size-headings: 46px;
$font-headings-lineheight: $font-size-headings;
$font-headings-text-transform: normal;
$font-size-headings-small: 24px;
$font-headings-weight: 400;
$font-size-headline-title: 58px;

// Marker
$font-marker-text-transform: normal;

// Navigation
$font-navigation-text-transform: none;

@include base.font-base(
    (
        font-main: $font-main,
        font-secondary: $font-secondary,
        font-navigation: $font-navigation,
        font-marker: $font-marker,
        font-headline-date: $font-headline-date,
        base-font-size: $base-font-size,
        base-font-weight: $base-font-weight,
        font-blockquote: $font-blockquote,
        font-blockquote-weight: $font-blockquote-weight,
        font-blockquote-style: $font-blockquote-style,
        font-size-headings: $font-size-headings,
        font-headings-lineheight: $font-headings-lineheight,
        font-headings-text-transform: $font-headings-text-transform,
        font-headings-weight: $font-headings-weight,
        font-size-headings-small: $font-size-headings-small,
        font-size-headline-title: $font-size-headline-title,
        font-navigation-text-transform: $font-navigation-text-transform,
        font-marker-text-transform: $font-marker-text-transform,
    )
);
