@use "pkg:@fontsource-utils/scss" as fontsource;
@use "pkg:@fontsource-variable/dancing-script/scss" as dancing_script;
@use "../Variables" as *;
@use "font.base" as base;
@include fontsource.faces(
    $metadata: dancing_script.$metadata,
    $family: "Dancing Script",
    $weights: all,
    $styles: all,
    $subsets: (
        latin,
        latin-ext,
        vietnamese,
    ),
    $formats: woff2
);

/*	Font Dancing & Ledger

https://fonts.google.com/specimen/Dancing+Script
https://fonts.google.com/specimen/Ledger
----------------------------------------------------- */

// Font Import

// Font Variables
$font-main: "Ledger", serif;
$font-secondary: "Dancing Script", cursive;
$font-navigation: $font-main; // 'Helvetica Neue', Helvetica, Arial, "MS Trebuchet", sans-serif;
$font-marker: $font-secondary;
$font-headline-date: $font-navigation;
$base-font-size: 16px;
$base-font-weight: 400;

// Blockquote
$font-blockquote: $font-main;
$font-blockquote-weight: 400;
$font-blockquote-style: normal;

// Headings
$font-size-headings: 58px;
$font-headings-lineheight: $font-size-headings;
$font-headings-text-transform: none;
$font-size-headings-small: 24px;
$font-headings-weight: 700;
$font-size-headline-title: 68px;

// Marker
$font-marker-text-transform: $font-headings-text-transform;

// Navigation
$font-navigation-text-transform: none;

@include base.font-base(
    (
        font-main: $font-main,
        font-secondary: $font-secondary,
        font-navigation: $font-navigation,
        font-marker: $font-marker,
        font-headline-date: $font-headline-date,
        base-font-size: $base-font-size,
        base-font-weight: $base-font-weight,
        font-blockquote: $font-blockquote,
        font-blockquote-weight: $font-blockquote-weight,
        font-blockquote-style: $font-blockquote-style,
        font-size-headings: $font-size-headings,
        font-headings-lineheight: $font-headings-lineheight,
        font-headings-text-transform: $font-headings-text-transform,
        font-headings-weight: $font-headings-weight,
        font-size-headings-small: $font-size-headings-small,
        font-size-headline-title: $font-size-headline-title,
        font-navigation-text-transform: $font-navigation-text-transform,
        font-marker-text-transform: $font-marker-text-transform,
    )
);
