@use "pkg:@fontsource-utils/scss" as fontsource;
@use "pkg:@fontsource/clicker-script/scss" as clicker_script;
@use "pkg:@fontsource-variable/eb-garamond/scss" as eb_garamond;
@use "../Variables" as *;
@use "font.base" as base;
@include fontsource.faces(
    $metadata: clicker_script.$metadata,
    $weights: all,
    $styles: all,
    $subsets: (
        latin,
        latin-ext,
    ),
    $formats: woff2
);
@include fontsource.faces(
    $metadata: eb_garamond.$metadata,
    $family: "EB Garamond",
    $weights: all,
    $styles: all,
    $subsets: (
        latin,
        latin-ext,
    ),
    $formats: woff2
);

/*	Font Clicker & Garamond

https://fonts.google.com/specimen/Clicker+Script
https://fonts.google.com/specimen/EB+Garamond
----------------------------------------------------- */

// Font Import

// Font Variables
$font-main: "EB Garamond", serif;
$font-secondary: "Clicker Script", cursive;
$font-navigation: $font-main; // 'Helvetica Neue', Helvetica, Arial, "MS Trebuchet", sans-serif;
$font-marker: $font-navigation;
$font-headline-date: $font-navigation;
$base-font-size: 18px;
$base-font-weight: 400;

// Blockquote
$font-blockquote: $font-main;
$font-blockquote-weight: 400;
$font-blockquote-style: italic;

// Headings
$font-size-headings: 58px;
$font-headings-lineheight: $font-size-headings;
$font-headings-text-transform: none;
$font-size-headings-small: 24px;
$font-headings-weight: 400;
$font-size-headline-title: 64px;

// Marker
$font-marker-text-transform: $font-headings-text-transform;

// Navigation
$font-navigation-text-transform: none;

@include base.font-base(
    (
        font-main: $font-main,
        font-secondary: $font-secondary,
        font-navigation: $font-navigation,
        font-marker: $font-marker,
        font-headline-date: $font-headline-date,
        base-font-size: $base-font-size,
        base-font-weight: $base-font-weight,
        font-blockquote: $font-blockquote,
        font-blockquote-weight: $font-blockquote-weight,
        font-blockquote-style: $font-blockquote-style,
        font-size-headings: $font-size-headings,
        font-headings-lineheight: $font-headings-lineheight,
        font-headings-text-transform: $font-headings-text-transform,
        font-headings-weight: $font-headings-weight,
        font-size-headings-small: $font-size-headings-small,
        font-size-headline-title: $font-size-headline-title,
        font-navigation-text-transform: $font-navigation-text-transform,
        font-marker-text-transform: $font-marker-text-transform,
    )
);

.vco-timeline {
    .vco-headline-date,
    h3.vco-headline-date {
        margin-bottom: 10px !important;
    }
}
