@use "sass:color";
@use "sass:math";

/*	VARIABLES
----------------------------------------------------- */

/* TYPEFACE
================================================== */
$font-serif:
    "Georgia",
    times new roman,
    times,
    serif;
$font-sanserif: "Helvetica Neue", helvetica, arial, sans-serif;
$font-main: $font-sanserif;
$font-secondary: $font-serif;
$base-font-size: 15px;
$base-font-size-small: 11px;
$base-font-size-large: 24px;
$base-font-size-xlarge: 36px;
$base-line-height: 1.4286;
$base-line-height-computed: math.floor($base-font-size * $base-line-height);

/* COLOR SCHEME
================================================== */
$color-background: #fff;
$color-foreground: #333;
$color-dark: #000;
$color-theme: #c34528; // #DA0000;

$color-theme-dark: color.adjust($color-theme, $lightness: -15);
$color-theme-complement: color.adjust($color-theme, $hue: 180);
$color-theme-triad1: color.adjust($color-theme, $hue: -135);
$color-theme-triad2: color.adjust($color-theme, $hue: 135);
$color-theme-split1: color.adjust($color-theme, $hue: -158);
$color-theme-split2: color.adjust($color-theme, $hue: 158);
$color-text: color.adjust($color-foreground, $lightness: 25);
$color-header-text: $color-dark;
$color-text-inverted: color.adjust($color-background, $lightness: -33);
$color-header-text-inverted: $color-background;

/* UI COLOR
================================================== */
$ui-background-color: color.adjust($color-background, $lightness: -15);
$map-marker-color: $color-theme;
$marker-color: color.adjust($ui-background-color, $lightness: -5);

/* UI
================================================== */
$base-spacing: 15px;
$arrow-size: 20px;

/* Animation
================================================== */
$animation-ease: cubic-bezier(0.77, 0, 0.175, 1);
$animation-duration: 1000ms;
$animation-duration-fast: 500ms;

/* GFX
================================================== */
@mixin base-sprite {
    background-image: url("storymap.png?v1.0");
}
