@use "sass:color";

/*	VARIABLES
----------------------------------------------------- */

/* TYPEFACE
================================================== */
$font-serif:
    "Georgia",
    times new roman,
    times,
    serif;
$font-sanserif: "Helvetica Neue", helvetica, arial, sans-serif;
$font-main: $font-sanserif;
$font-secondary: $font-serif;
$base-font-size: 15px;
$base-font-size-small: 11px;
$base-font-size-large: 24px;
$base-font-size-xlarge: 36px;
$base-line-height: 1.4286;

/* COLOR SCHEME
================================================== */
$color-background: #fff;
$color-foreground: #333;
$color-dark: #000;
$color-theme: #c34528; // #DA0000;

$color-theme-dark: color.adjust($color-theme, $lightness: -15%);
$color-text: color.adjust($color-foreground, $lightness: 25%);
$color-header-text: $color-dark;
$color-text-inverted: color.adjust($color-background, $lightness: -33%);
$color-header-text-inverted: $color-background;

/* UI COLOR
================================================== */
$ui-background-color: color.adjust($color-background, $lightness: -15%);

/* UI
================================================== */
$base-spacing: 15px;
$arrow-size: 20px;

/* Animation
================================================== */
$animation-ease: cubic-bezier(0.77, 0, 0.175, 1);
$animation-duration: 1000ms;
