/*!
	StoryMap

	Designed and built by Zach Wise for the Northwestern University Knight Lab

	This Source Code Form is subject to the terms of the Mozilla Public
	License, v. 2.0. If a copy of the MPL was not distributed with this
	file, You can obtain one at http://mozilla.org/MPL/2.0/.

*/

/* Includes
================================================== */
@use "Variables" as *; // Variables (easy way to make style changes)
@use "core/Mixins" as *; // Less shortcuts and functions
@use "core/Reset" as *; // CSS Reset
@use "Typography" as *;

// Icons
@use "icons/Icons" as *;

//	Components
@use "core/VCO" as *;

//	Components
@use "ui/VCO.MenuBar" as *;
@use "ui/VCO.MenuBar.Button" as *;
@use "ui/VCO.Message" as *;
@use "ui/VCO.Consent" as *;
@use "animation/VCO.Animate" as *;
@use "slider/VCO.Slide" as *;
@use "slider/VCO.SlideNav" as *;
@use "slider/VCO.StorySlider" as *;
@use "media/VCO.Media" as *;
@use "media/types/VCO.Media.Text" as *;
@use "media/types/VCO.Media.Image" as *;
@use "media/types/VCO.Media.Twitter" as *;
@use "media/types/VCO.Media.Blockquote" as *;
@use "media/types/VCO.Media.Instagram" as *;
@use "media/types/VCO.Media.Profile" as *;
@use "media/types/VCO.Media.IFrame" as *;
@use "media/types/VCO.Media.Wikipedia" as *;
@use "map/openlayers/VCO.Map.OpenLayers" as *;
@use "map/VCO.MapMarker" as *;
@use "map/VCO.ImageMarker" as *;
@use "map/VCO.Map" as *;
@use "snapmap/VCO.SnapMap" as *;

/* StoryMap
================================================== */
.vco-storymap {
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: normal;
    overflow: hidden;
    position: relative;

    @include user-select(none);

    /* fullscreen: fill the screen and sit above everything else */
    &:fullscreen {
        width: 100%;
        height: 100%;
        background-color: $color-background;
    }

    *,
    *::before,
    *::after {
        box-sizing: content-box;
    }
}

/* Portrait
================================================== */
.vco-layout-portrait {
    .vco-storyslider {
        padding-top: 10px;

        @include box-shadow(0 -3px 6px rgba(0, 0, 0, 0.2));
    }
}

/* Landscape
================================================== */
.vco-layout-landscape {
    .vco-storyslider {
        padding-top: 0;

        // this._el.slider_container_mask.style.width = this.options.width  + "px";
        // this._el.slider_container_mask.style.left =  this.options.width  + "px";
        position: absolute;
        width: 50%;
        left: 50%;
        overflow: visible;

        // padding-left:10%;
        .vco-slider-background {
            margin-left: -20%;
            width: 120%;
            overflow: hidden;

            @include gradient-horizontal(
                rgba(256, 256, 256, 0.0001),
                rgba(256, 256, 256, 0.85),
                0%,
                15%
            );

            // @include gradient-horizontal-three-colors(rgba(256,256,256,.0001); $mid-color: rgba(256,256,256,0.85); $color-stop: 10%; $end-color: rgba(256,256,256,.50));
        }

        .vco-slider-container-mask {
            overflow: visible;

            // .translucent-background(#FFF, 0.70);
            // @include gradient-horizontal(rgba(256,256,256,.0001), rgba(256,256,256,0.85), 0%, 25%);
            // @include gradient-horizontal-three-colors(rgba(256,256,256,.0001); $mid-color: rgba(256,256,256,0.85); $color-stop: 10%; $end-color: rgba(256,256,256,.50));
            // @include gradient-radial(rgba(256,256,256,0.85); $outer-color: rgba(256,256,256,.0001));
        }
    }
}

/* Default Fonts
================================================== */

/*
.vco-storymap {
	font-family:'Pontano Sans',sans-serif !important;
}
.vco-storymap {
	h1, h2, h3, h4, h5, h6 {
		font-family:'Bevan',serif !important;
		font-weight: normal;
	}
}
.vco-secondary-font {

}
*/

/* Right to Left
================================================== */
.vco-rtl {
    direction: rtl;

    .vco-text-content,
    .vco-text,
    .vco-caption,
    .vco-media-wikipedia,
    .vco-headline,
    .vco-media-blockquote {
        text-align: right;
    }

    // mirror the slider navigation
    .vco-slidenav-next {
        right: auto;
        left: 100px;
        text-align: left;

        .vco-slidenav-icon {
            margin-left: 0;
            margin-right: 100 - 24px;
        }
    }

    .vco-slidenav-previous {
        left: auto;
        right: 100px;
        text-align: right;

        .vco-slidenav-icon {
            margin-right: 0;
            margin-left: 0;
        }
    }

    .vco-marker-label {
        transform: translateX(50%);
    }
}
