/*!
	StoryMap
	
	Designed and built by Zach Wise for the Northwestern University Knight Lab
	
	This Source Code Form is subject to the terms of the Mozilla Public
	License, v. 2.0. If a copy of the MPL was not distributed with this
	file, You can obtain one at http://mozilla.org/MPL/2.0/.

*/

/* Includes
================================================== */
@use "sass:color";
@use "Variables.Dark" as *; // Variables (easy way to make style changes)
@use "core/Mixins" as *; // Less shortcuts and functions
@use "core/Reset" as *; // CSS Reset
@use "Typography" as *;

// Icons
@use "icons/Icons" as *;

//	Components
@use "ui/VCO.MenuBar" as *;
@use "ui/VCO.MenuBar.Button" as *;
@use "ui/VCO.Message" as *;
@use "slider/VCO.Slide" as *;
@use "slider/VCO.SlideNav" as *;
@use "slider/VCO.StorySlider" as *;
@use "media/VCO.Media" as *;
@use "media/types/VCO.Media.Text" as *;
@use "media/types/VCO.Media.Image" as *;
@use "media/types/VCO.Media.Twitter" as *;
@use "media/types/VCO.Media.Blockquote" as *;
@use "media/types/VCO.Media.Instagram" as *;
@use "media/types/VCO.Media.Profile" as *;
@use "media/types/VCO.Media.IFrame" as *;
@use "media/types/VCO.Media.Wikipedia" as *;
@use "map/openlayers/VCO.Map.OpenLayers" as *;
@use "map/VCO.MapMarker" as *;
@use "map/VCO.ImageMarker" as *;
@use "map/VCO.Map" as *;
@use "snapmap/VCO.SnapMap" as *;

/* StoryMap
================================================== */
.vco-storymap {
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: normal;
    overflow: hidden;
    position: relative;

    @include user-select(none);
}

/* Portrait
================================================== */
.vco-layout-portrait {
    .vco-storyslider {
        padding-top: 10px;

        @include box-shadow(0 -3px 6px rgba(0, 0, 0, 0.2));
    }
}

/* Landscape
================================================== */
.vco-layout-landscape {
    .vco-storyslider {
        padding-top: 0;
        position: absolute;
        width: 50%;
        left: 50%;
        overflow: visible;

        .vco-slider-background {
            margin-left: -20%;
            width: 120%;
            overflow: hidden;

            @include gradient-horizontal(
                rgba(256, 256, 256, 0.0001),
                rgba(256, 256, 256, 0.85),
                0%,
                15%
            );
        }

        .vco-slider-container-mask {
            overflow: visible;
        }

        .vco-slidenav-next,
        .vco-slidenav-previous {
            .vco-slidenav-icon::before {
                background-color: $color-background;
                padding: 20px;
                border: 1px solid color.adjust($color-background, $lightness: -30%);
            }

            .vco-slidenav-icon,
            .vco-slidenav-title,
            .vco-slidenav-description {
                text-shadow: none;
            }

            .vco-slidenav-title,
            .vco-slidenav-description {
                display: none;
            }
        }

        .vco-slidenav-previous {
            left: -100%;
            margin-left: 0;

            .vco-slidenav-icon::before {
                @include border-right-radius(7px);
            }
        }

        .vco-slidenav-next {
            right: 130px;

            .vco-slidenav-icon::before {
                @include border-left-radius(7px);
            }
        }

        .vco-slidenav-previous:hover {
            .vco-slidenav-icon {
                margin-left: -4px;
            }
        }
    }
}
